.page-header--speeches {
  margin-bottom: 0;
}
.speech--section-signpost .speech--section-signpost {
  margin-left: .4em;
}
.speech--section-signpost .speech--section-signpost .speech--section-signpost {
  margin-bottom: 0;
}
.section-list .speech p {
  font-style: italic;
  color: #888;
}
.section-list .speech.speech--with-portrait p {
  font-style: normal;
  color: #222;
}
