.page-header--speeches {
  margin-bottom: 0;
}
.speech--section-signpost .speech--section-signpost {
  margin-left: .4em;
}
.speech--section-signpost .speech--section-signpost .speech--section-signpost {
  margin-bottom: 0;
}
.section-list .speech {
  font-style: italic;
  color: #888;
}
.section-list .speech.speech--with-portrait {
  font-style: normal;
  color: #222;
}
header {
  background: #ffffd8;
  border-bottom: 1px solid #e9e7e4;
}
